# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        
      - name: Build the app
        run: ./gradlew assembleRelease

      - name: Distribute app via Firebase App Distribution
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          appId: ${{ secrets.FIREBASE_APP_ID_YOGAMASTER }}
          FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}
          groups: INTERNAL
          file: app/build/outputs/apk/release/app-release-unsigned.apk
      
      
