# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        
      - name: Build the app
        run: ./gradlew assembleDebug

      - name: Distribute app via Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.2.1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID_YOGAMASTER }}
          token: ${{secrets.FIREBASE_TOKEN_YOGA_MASTER}}
          groups: INTERNAL
          file: app/build/outputs/apk/debug/app-debug.apk
      
      
